<section class="bg-light">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 mb-4 mb-sm-5">
              <div class="card card-style1 border-0">
                  <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                      <div class="row align-items-center">
                          <div class="col-lg-6 mb-4 mb-lg-0">
                              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
                          </div>
                          <div class="col-lg-6 px-xl-10">
                              <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                  <h3 class="h2 text-white mb-0">{{ tutor.surname }} {{ tutor.name}} {{ tutor.patronymic }}</h3>
                                  <!-- <span class="text-primary">Tutor</span> -->
                              </div>
                              <ul class="list-unstyled mb-1-9" *ngIf="school.name != null">
                                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Position:</span> Tutor</li>
                                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">School:</span>  {{ school.name }}</li>
                                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">№:</span>{{ school.id }}</li>
                                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Subject:</span> {{ tutor.subject?.name }}</li>
                                  <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> {{ email }}</li>
                              </ul>
                              <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                                  <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                                  <li><a href="#!"><i class="ti-facebook"></i></a></li>
                                  <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                                  <li><a href="#!"><i class="ti-instagram"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <button [routerLink]="'/students'" type="button" class="btn btn-outline-info">Students list</button>
          <div *ngIf="tutor.tutorSubClasses">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Class</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let subjectClass of tutor.tutorSubClasses; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ subjectClass.subject!.name }}</td>
                    <td>{{ subjectClass.class?.number }}{{ subjectClass.class?.seria }}</td>
                    <td><a [routerLink]="'/subject/' + subjectClass.id">Open</a></td>
                    
                   
                  </tr>
                </tbody>
              </table>  
        </div> 
      </div>
  </div>
</section>